Source: ros-hydro-grizzly-simulator
Section: misc
Priority: extra
Maintainer: Yan Ma <yanma@clearpathrobotics.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-grizzly-simulator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-grizzly-gazebo, ros-hydro-grizzly-gazebo-plugins
Description: Metapackage allowing easy installation of Grizzly simulation components.
